/* @import "tailwindcss"; */

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@theme {
    --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: "Poppins", ui-sans-serif, system-ui, sans-serif;
    background-color: #f5f8fa;
    color: #000;
    min-height: 100vh;
}

.app-body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app-main {
    flex-grow: 1;
}

.app-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 16px;
}

.page-title {
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
    margin-bottom: 38px;
}
