header {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo-img {
    height: 90px;
    width: auto;
}

.nav {
    display: flex;
    align-items: center;
    gap: 24px;
}

.nav-link {
    color: #000;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #52c9ff;
}
